body{
  background-image: url('../images/bg.jpeg');
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}
.headline{
  background: #ffcc80;
  margin-top: 1%;
  margin-bottom: 5%;
  font-size: 45px;
  letter-spacing: 15px;
}
